@font-face {
    font-family: 'Alef';
    src: url('/fonts/Alef-Webfont/Alef-bold.eot');
    src: url('/fonts/Alef-Webfont/Alef-bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Alef-Webfont/Alef-bold.woff') format('woff'),
    url('/fonts/Alef-Webfont/Alef-bold.ttf') format('truetype'),
    url('/fonts/Alef-Webfont/Alef-bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alef';
    src: url('/fonts/Alef-Webfont/Alef-regular.eot');
    src: url('/fonts/Alef-Webfont/Alef-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Alef-Webfont/Alef-regular.woff') format('woff'),
    url('/fonts/Alef-Webfont/Alef-regular.ttf') format('truetype'),
    url('/fonts/Alef-Webfont/Alef-regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'varela';
    src: url('/fonts/Varela_Round/VarelaRound-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.video {
    margin: 64px auto;
    width: 400px;
}

@media (min-width: 630px) {
    .video {
        width: 600px;
    }
}

.u-section-1 {
    background-image: none;
    min-height: 614px;
}

.u-section-1 .u-layout-wrap-1 {
    margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
    min-height: 614px;
    background-image: url('images/img-1.jpg');
    background-position: 50% 50%;
    background-size: 112%;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
    background-image: none;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
    min-height: 614px;
}

.u-section-1 .u-container-layout-3 {
    padding: 30px;
}

.u-section-1 .u-text-1 {
    line-height: 1.6;
    /*font-weight: 700;*/
    font-size: 4rem;
    margin: 0;
}

.u-section-1 .u-text-2 {
    max-width: 824px;
    font-size: 1.3rem;
    line-height: 1.8;
    font-weight: 300;
    margin: 20px 0 0;
}

@media (max-width: 1199px) {
    .u-section-1 {
        min-height: 338px;
    }

    .u-section-1 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-image-1 {
        min-height: 506px;
    }

    .u-section-1 .u-layout-cell-3 {
        min-height: 100px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 991px) {
    .u-section-1 {
        min-height: 238px;
    }

    .u-section-1 .u-image-1 {
        min-height: 388px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .u-section-1 {
        min-height: 503px;
    }

    .u-section-1 .u-image-1 {
        min-height: 653px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-1 {
        min-height: 320px;
    }

    .u-section-1 .u-image-1 {
        min-height: 366px;
        background-position: 50% 22.82%;
    }
}

.u-section-2 {
    background-image: none;
    min-height: 597px;
}

.u-section-2 .u-shape-1 {
    /*width: calc(((100% - 1140px) / 2) + 388px);*/
    width: calc(33% + 6px);
    background-image: none;
    left: 0;
    right: auto;
}

.u-section-2 .u-layout-wrap-1 {
    width: 1140px;
    margin: 60px auto;
}

.u-section-2 .u-layout-cell-1 {
    min-height: 473px;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px;
}

.u-section-2 .u-image-1 {
    width: 350px;
    /*height: 350px;*/
    margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
    min-height: 473px;
}

.u-section-2 .u-container-layout-2 {
    padding: 30px;
}

.u-section-2 .u-icon-1 {
    height: 64px;
    width: 64px;
    margin: 0;
}

.u-section-2 .u-text-1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 27px 0 0;
}

.u-section-2 .u-text-2 {
    font-size: 1.3rem;
    line-height: 2;
    margin: 18px 0 0;
}

.u-section-2 .u-text-3 {
    font-weight: 700;
    margin: 32px auto 0 0;
}

.u-section-2 .u-text-4 {
    font-style: italic;
    margin: 14px auto 0 0;
}

.u-section-2 .u-text-5 {
    font-family: varela, Roboto, sans-serif;
    margin: 20px auto 0 0;
}

.u-section-2 .u-btn-1 {
    border-style: none none solid;
    padding: 0;
}

@media (max-width: 1199px) {
    .u-section-2 {
        min-height: 556px;
    }

    .u-section-2 .u-shape-1 {
        /*width: calc(((100% - 940px) / 2) + 330px);*/
    }

    .u-section-2 .u-layout-wrap-1 {
        width: 940px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .u-section-2 .u-layout-cell-1 {
        min-height: 390px;
    }

    .u-section-2 .u-layout-cell-2 {
        min-height: 390px;
    }
}

@media (max-width: 991px) {
    .u-section-2 {
        min-height: 654px;
    }

    .u-section-2 .u-shape-1 {
        /*width: calc(((100% - 720px) / 2) + 269px);*/
    }

    .u-section-2 .u-layout-wrap-1 {
        width: 720px;
    }

    .u-section-2 .u-layout-cell-1 {
        min-height: 554px;
    }

    .u-section-2 .u-image-1 {
        /*height: 389px;*/
        margin-top: 41px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-2 .u-layout-cell-2 {
        min-height: 100px;
    }
}

@media (max-width: 767px) {
    .u-section-2 {
        min-height: 1149px;
    }

    .u-section-2 .u-shape-1 {
        height: 531px;
        margin-top: 0;
        margin-bottom: 0;
        width: auto;
        left: auto;
        bottom: auto;
        right: auto;
        top: auto;
    }

    .u-section-2 .u-layout-wrap-1 {
        width: 540px;
        margin-top: -481px;
        margin-bottom: -152px;
    }

    .u-section-2 .u-layout-cell-1 {
        min-height: 589px;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-image-1 {
        /*height: 559px;*/
        margin-top: 0;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-2 {
        min-height: 1027px;
    }

    .u-section-2 .u-shape-1 {
        height: 342px;
        width: auto;
    }

    .u-section-2 .u-layout-wrap-1 {
        width: 340px;
        margin-top: -292px;
        margin-bottom: 55px;
    }

    .u-section-2 .u-layout-cell-1 {
        min-height: 371px;
    }

    .u-section-2 .u-image-1 {
        /*height: 344px;*/
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }
}

.u-section-3 {
    background-image: none;
}

.u-section-3 .u-sheet-1 {
    min-height: 931px;
}

.u-section-3 .u-text-1 {
    /*font-weight: 900;*/
    font-size: 4.5rem;
    width: 842px;
    margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
    font-family: varela, Roboto, sans-serif;;
    width: 842px;
    margin: 0 auto 0;
    font-size: 2rem;
    letter-spacing: 1.5px;
}

.u-section-3 .u-layout-wrap-1 {
    width: 1140px;
    margin: 52px 0 60px;
}

.u-section-3 .u-layout-cell-1 {
    min-height: 636px;
}

.u-section-3 .u-container-layout-1 {
    padding: 0 0 30px;
}

.u-section-3 .u-group-1 {
    min-height: 88px;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-3 .u-text-3 {
    text-transform: none;
    letter-spacing: normal;
    margin: 0;
}

.u-section-3 .u-icon-1 {
    color: #242424 !important;
}

.u-section-3 .u-group-2 {
    min-height: 460px;
    width: 300px;
    margin: 22px auto 0;
}

.u-section-3 .u-container-layout-3 {
    padding: 30px 30px 0;
}

.u-section-3 .u-text-4 {
    font-size: 4rem;
    font-weight: 400;
    margin: 0;
}

.u-section-3 .u-text-5 {
    font-size: 1.25rem;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: none;
    margin: 0;
}

.u-section-3 .u-text-6 {
    line-height: 2.5;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 52px 0 0;
}

.u-section-3 .u-btn-1 {
    background-image: none;
    border-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 30px auto 0;
    padding: 11px 53px 11px 52px;
}

.u-section-3 .u-layout-cell-2 {
    min-height: 636px;
}

.u-section-3 .u-container-layout-4 {
    padding: 0 0 30px;
}

.u-section-3 .u-group-3 {
    min-height: 88px;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-3 .u-text-7 {
    text-transform: none;
    letter-spacing: normal;
    margin: 0;
}

.u-section-3 .u-icon-2 {
    color: #242424 !important;
}

.u-section-3 .u-group-4 {
    min-height: 460px;
    width: 300px;
    margin: 22px auto 0;
}

.u-section-3 .u-container-layout-6 {
    padding: 30px 30px 0;
}

.u-section-3 .u-text-8 {
    font-size: 4.5rem;
    font-weight: 400;
    margin: 0;
}

.u-section-3 .u-text-9 {
    font-size: 1.25rem;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: none;
    margin: 0;
}

.u-section-3 .u-text-10 {
    line-height: 2.5;
    font-size: 1rem;
    font-weight: 400;
    margin: 52px 0 0;
}

.u-section-3 .u-btn-2 {
    background-image: none;
    border-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 30px auto 0;
    padding: 11px 53px 11px 52px;
}

.u-section-3 .u-layout-cell-3 {
    min-height: 636px;
}

.u-section-3 .u-container-layout-7 {
    padding: 0 0 30px;
}

.u-section-3 .u-group-5 {
    min-height: 88px;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-3 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-3 .u-text-11 {
    text-transform: none;
    letter-spacing: normal;
    margin: 0;
}

.u-section-3 .u-icon-3 {
    color: #242424 !important;
}

.u-section-3 .u-group-6 {
    min-height: 460px;
    width: 300px;
    margin: 22px auto 0;
}

.u-section-3 .u-container-layout-9 {
    padding: 30px 30px 0;
}

.u-section-3 .u-text-12 {
    font-size: 4.5rem;
    font-weight: 400;
    margin: 0;
}

.u-section-3 .u-text-13 {
    font-size: 1.25rem;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: none;
    margin: 0;
}

.u-section-3 .u-text-14 {
    line-height: 2.5;
    font-size: 1rem;
    font-weight: 400;
    margin: 52px 0 0;
}

.u-section-3 .u-btn-3 {
    background-image: none;
    border-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 30px auto 0;
    padding: 11px 53px 11px 52px;
}

@media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
        min-height: 819px;
    }

    .u-section-3 .u-layout-wrap-1 {
        width: 940px;
    }

    .u-section-3 .u-layout-cell-1 {
        min-height: 524px;
    }

    .u-section-3 .u-text-3 {
        font-size: 1.875rem;
    }

    .u-section-3 .u-group-2 {
        width: 293px;
    }

    .u-section-3 .u-text-4 {
        font-size: 4.25rem;
    }

    .u-section-3 .u-layout-cell-2 {
        min-height: 524px;
    }

    .u-section-3 .u-text-7 {
        font-size: 1.875rem;
    }

    .u-section-3 .u-group-4 {
        width: 293px;
    }

    .u-section-3 .u-text-8 {
        font-size: 4.25rem;
    }

    .u-section-3 .u-layout-cell-3 {
        min-height: 524px;
    }

    .u-section-3 .u-text-11 {
        font-size: 1.875rem;
    }

    .u-section-3 .u-group-6 {
        width: 293px;
    }

    .u-section-3 .u-text-12 {
        font-size: 4.25rem;
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
        min-height: 931px;
    }

    .u-section-3 .u-text-1 {
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-3 .u-text-2 {
        width: 720px;
        margin-top: 30px;
    }

    .u-section-3 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-3 .u-layout-cell-1 {
        min-height: 630px;
    }

    .u-section-3 .u-container-layout-1 {
        padding-bottom: 20px;
    }

    .u-section-3 .u-group-1 {
        min-height: 90px;
    }

    .u-section-3 .u-container-layout-2 {
        padding: 0 10px;
    }

    .u-section-3 .u-text-3 {
        font-size: 1.5rem;
    }

    .u-section-3 .u-group-2 {
        width: 212px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-3 .u-container-layout-3 {
        padding-top: 0;
        padding-right: 19px;
        padding-left: 20px;
    }

    .u-section-3 .u-text-4 {
        font-size: 2.5rem;
        margin-right: 1px;
    }

    .u-section-3 .u-text-5 {
        margin-right: 1px;
    }

    .u-section-3 .u-text-6 {
        font-size: 1.2rem;
        width: auto;
        margin-top: 67px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .u-section-3 .u-btn-1 {
        margin-top: 87px;
        padding: 10px 49px 12px 47px;
    }

    .u-section-3 .u-layout-cell-2 {
        min-height: 624px;
    }

    .u-section-3 .u-container-layout-4 {
        padding-bottom: 20px;
    }

    .u-section-3 .u-group-3 {
        min-height: 90px;
    }

    .u-section-3 .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0;
    }

    .u-section-3 .u-text-7 {
        font-size: 1.5rem;
        margin-top: 31px;
    }

    .u-section-3 .u-group-4 {
        min-height: 453px;
        width: 212px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-3 .u-container-layout-6 {
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-3 .u-text-8 {
        font-size: 2.5rem;
    }

    .u-section-3 .u-btn-2 {
        margin-top: 46px;
        padding: 10px 48px 12px 47px;
    }

    .u-section-3 .u-layout-cell-3 {
        min-height: 624px;
    }

    .u-section-3 .u-container-layout-7 {
        padding-bottom: 20px;
    }

    .u-section-3 .u-group-5 {
        min-height: 90px;
    }

    .u-section-3 .u-container-layout-8 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-text-11 {
        font-size: 1.5rem;
        margin-top: 30px;
    }

    .u-section-3 .u-group-6 {
        min-height: 452px;
        width: 216px;
        margin-right: -4px;
        margin-left: 0;
    }

    .u-section-3 .u-container-layout-9 {
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-3 .u-text-12 {
        font-size: 2.5rem;
    }

    .u-section-3 .u-text-14 {
        width: auto;
        margin-top: 67px;
    }

    .u-section-3 .u-btn-3 {
        margin-top: 31px;
        padding: 10px 48px 12px 47px;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
        min-height: 495px;
    }

    .u-section-3 .u-text-2 {
        width: 540px;
    }

    .u-section-3 .u-layout-cell-1 {
        min-height: 580px;
    }

    .u-section-3 .u-text-3 {
        font-size: 2.25rem;
    }

    .u-section-3 .u-group-2 {
        min-height: 402px;
        width: 270px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-3 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-text-6 {
        margin-top: 30px;
    }

    .u-section-3 .u-btn-1 {
        margin-top: 46px;
    }

    .u-section-3 .u-layout-cell-2 {
        min-height: 585px;
    }

    .u-section-3 .u-text-7 {
        font-size: 2.25rem;
        width: auto;
        margin-top: 0;
    }

    .u-section-3 .u-group-4 {
        min-height: 416px;
        width: 270px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-3 .u-container-layout-6 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-layout-cell-3 {
        min-height: 572px;
    }

    .u-section-3 .u-text-11 {
        font-size: 2.25rem;
        width: auto;
        margin-top: 0;
    }

    .u-section-3 .u-group-6 {
        min-height: 402px;
        width: 270px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-3 .u-container-layout-9 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-text-14 {
        margin-top: 30px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-text-1 {
        font-size: 2.25rem;
    }

    .u-section-3 .u-text-2 {
        width: 340px;
    }

    .u-section-3 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-3 .u-text-3 {
        font-size: 1.875rem;
    }

    .u-section-3 .u-text-4 {
        font-size: 3.75rem;
    }

    .u-section-3 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-3 .u-text-7 {
        font-size: 1.875rem;
    }

    .u-section-3 .u-text-8 {
        font-size: 3.75rem;
    }

    .u-section-3 .u-layout-cell-3 {
        min-height: 100px;
    }

    .u-section-3 .u-text-11 {
        font-size: 1.875rem;
    }

    .u-section-3 .u-text-12 {
        font-size: 3.75rem;
    }
}

.u-section-4 {
    background-image: none;
    min-height: 793px;
}

.u-section-4 .u-shape-1 {
    /*width: calc(((100% - 1140px) / 2) + 442px);*/
    width: calc(33% + 6px);
    left: 0;
    right: auto;
}

.u-section-4 .u-layout-wrap-1 {
    width: 1140px;
    margin: 60px auto;
}

.u-section-4 .u-image-1 {
    min-height: 657px;
    background-image: url("images/img-3.png");
    background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
    padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
    background-image: none;
    min-height: 657px;
}

.u-section-4 .u-container-layout-2 {
    padding: 30px;
}

.u-section-4 .u-text-1 {
    text-transform: uppercase;
    margin: 0 auto 0 0;
}

.u-section-4 .u-text-1.contact-us-details {
    font-family: varela, Roboto, sans-serif;
    color: #8b5e3b;
    text-transform: initial;
    font-size: 1.5rem;
    direction: rtl;
    text-align: right;
    margin: 2rem 0;
}

.u-section-4 .u-form-1 {
    height: 334px;
    margin: 32px -60px 0 0;
}

.u-section-4 .u-btn-1 {
    border-style: none;
    width: 100%;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.125rem;
    letter-spacing: 2px;
}

.u-section-4 .u-text-2 {
    text-transform: uppercase;
    margin: 32px auto 0 0;
}

.u-section-4 .u-social-icons-1 {
    white-space: nowrap;
    height: 32px;
    min-height: 16px;
    width: 188px;
    min-width: 124px;
    margin: 29px auto 0 0;
}

.u-section-4 .u-icon-1 {
    height: 100%;
}

.u-section-4 .u-icon-2 {
    height: 100%;
}

.u-section-4 .u-icon-3 {
    height: 100%;
}

.u-section-4 .u-icon-4 {
    height: 100%;
}

.u-section-4 .u-text-3 {
    font-weight: 400;
    font-size: 1.125rem;
    margin: 20px auto 0 0;
}

.u-section-4 .u-btn-2 {
    border-style: none none solid;
    font-weight: 400;
    padding: 0;
}

@media (max-width: 1199px) {
    .u-section-4 {
        min-height: 771px;
    }

    .u-section-4 .u-shape-1 {
        /*width: calc(((100% - 940px) / 2) + 334px);*/
    }

    .u-section-4 .u-layout-wrap-1 {
        width: 940px;
    }

    .u-section-4 .u-image-1 {
        min-height: 542px;
    }

    .u-section-4 .u-layout-cell-2 {
        min-height: 542px;
    }

    .u-section-4 .u-form-1 {
        margin-right: initial;
        margin-left: initial;
    }
}

@media (max-width: 991px) {
    .u-section-4 .u-shape-1 {
        /*width: calc(((100% - 720px) / 2) + 267px);*/
    }

    .u-section-4 .u-layout-wrap-1 {
        width: 720px;
    }

    .u-section-4 .u-image-1 {
        min-height: 415px;
    }

    .u-section-4 .u-layout-cell-2 {
        min-height: 100px;
    }
}

@media (max-width: 767px) {
    .u-section-4 {
        min-height: 1438px;
    }

    .u-section-4 .u-shape-1 {
        height: 576px;
        margin-top: 0;
        margin-bottom: 0;
        width: auto;
        left: auto;
        bottom: auto;
        right: auto;
        top: auto;
    }

    .u-section-4 .u-layout-wrap-1 {
        width: 540px;
        margin-top: -516px;
    }

    .u-section-4 .u-image-1 {
        min-height: 667px;
    }

    .u-section-4 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-4 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-4 {
        min-height: 1191px;
    }

    .u-section-4 .u-shape-1 {
        height: 321px;
        width: auto;
    }

    .u-section-4 .u-layout-wrap-1 {
        width: 340px;
        margin-top: -261px;
    }

    .u-section-4 .u-image-1 {
        min-height: 420px;
    }
}
